
body{

}
nav{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .5s;
}

.black{
    background: rgba(0,0,0..8);
    height: 80px;
    padding: 10px 50px; 
}

nav.logo img {
    height: 80px;
    transition: .5s;
}

nav.black .logo img{
    height: 60px;  
}

.navbar-light .navbar-nav .nav-link {
color:#000000;
font-family: akzidenz-grotesk-condensed,Arial Narrow,Helvetica,Arial,sans-serif;
font-weight: 500px;
font-size: 22px;
letter-spacing: -2px;
text-transform: uppercase;
transition: opacity .25s;
transition-property: opacity;
transition-duration: 0.25s;
transition-timing-function: ease;
transition-delay: 0s;
white-space: nowrap;

}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 150px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-family: akzidenz-grotesk-condensed,Arial Narrow,Helvetica,Arial,sans-serif;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  padding-top: 110px;
  margin-left: 50px;
}

.li{
    font-family: akzidenz-grotesk-condensed,Arial Narrow,Helvetica,Arial,sans-serif;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.brand, .brand img, .brand svg {
    width: auto;
    height: 100%;
    display: block;
}
img {
    height: auto;
    max-width: 100%;
}
img {
    border-style: none;
}

.logo{
        height: 10px;
}

.nav-links-wrapper {
    height: 2.75rem;
    width: auto;
    display: none;
    margin-right: 1.875rem;
    float: left;
    text-align: right;
}
.cdn-font--loaded {
    visibility: visible;
    opacity: 1;
}
.cdn-font--init {
    -webkit-transition: opacity .25s;
    -o-transition: opacity .25s;
    transition: opacity .25s;
    visibility: hidden;
    opacity: 0;
}

.nav-linku{
    font-size: 12px !important;
    text-align: left;
    left: 0px ;
}

    
#content{
    transition: 0.5s;
    overflow: hidden;
}

.wrapper {
    width: 100%;
    height: 100%;
    padding-bottom: 3.125rem;
    -webkit-transition: all .25s cubic-bezier(.645,.045,.355,1);
    -o-transition: all .25s cubic-bezier(.645,.045,.355,1);
    transition: all .25s cubic-bezier(.645,.045,.355,1);
}

h1 {
    width: 76%;
    margin: 100%;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    box-sizing: inherit;
}


h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: -1.17em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    line-height: 1.07143;
    
}

.key{
    position: relative;
    left: 30px;
    background-color: white;
    margin-top: -100px;
    padding: 1.125rem 14.625rem;
    font-size: 4em;
    font-family: 'Playfair Display', serif;
}

p {
    border: 2px solid black;
    outline: #000000 solid 0px;
    margin: auto;
    padding: 0px;
    text-align: left;
}

.post-feed-label {
    height: 100%;
    width: 100%;
    position: relative;
    display: block;
    margin-bottom: 2rem;
    padding: 0;
    text-align: center;
}

.post-feed-label:before {
    height: 1px;
    width: 100%;
    position: absolute;
    top: 48%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    content: "";
    display: block;
    background-color: #000;
    z-index: -1;
}

span {
    background-color: white;
    padding-top: 51px;
    margin: center;
    font-size: 40px;
    margin-left: 75px;
    line-height: 5.5;
    padding-right:20px; 
    padding-left:20px;
}

h5{
    font-family: 'Playfair Display', serif;
    font-size: 2em;
}

.row{
    padding-bottom: 76px;

}





